@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Special+Gothic+Expanded+One&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #fff;
  font-family: Outfit;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

/* h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #222;
} */

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

p {
  margin-bottom: 1.5em;
  color: #555;
}

a {
  text-decoration: none;
}


ul{
  list-style-type: none;
}




/* ==============NAVBAR================= */

.navbar{
  display: flex;
  padding: 7px 0px;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
  border: 1px solid black;
  border-radius: 25px;
}

.nav-links{
 display: flex;
 gap: 70px;
 cursor: pointer;
 font-weight: 500;
 margin-right: 36px;
}

.navbar img{
  margin-left: 15px;
}

.navbar .active{
  color: #555;
}






/* ======================Hero======================= */



.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 65px;
  margin-bottom: 5rem;
  /* Set the gradient on the container */
  background: linear-gradient(to right, #93254A, #000B26, #0B454E);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* Make sure the background is visible through the text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* For Firefox */
  background-clip: text;
  color: transparent;
}

.text-content {
  font-family: "Special Gothic Expanded One";
  font-weight: 700;
  font-size: 4.5em;
  margin: 0;
  /* Remove background from text, inherit from parent */
  background: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


.line-combo {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.with-text{
  font-family: "Special Gothic Expanded One";
  font-size: 1.5em;
  margin: 0;
  /* background: inherit; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titlesection {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titletext {
  font-family: "Special Gothic Expanded One";
  font-size: 2em;
  background: linear-gradient(to right, #93254A, #000B26, #0B454E);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}